.navigation {
  .triangle {
    font-size: 48px;
    color: #52565a;
    font-weight: bold;
  }
  .search-bar {
    max-width: 70%;  
  }
  .buttons {
    a {
      font-size: 20px;
      margin-left: 20px;

      .fa {
          vertical-align: baseline;
      }
    }
  }
}