@import "bulma";
@import url(https://fonts.googleapis.com/css?family=Lato:100);

.triangle {
  margin: -70px;
  font-size: 192px;
  font-weight: bold;
  color: #52565a;
}

.title-logo {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  font-size: 72px;
  color: #52565a;
}

.is-font-heavy {
  font-weight: 600;
}

.strike {
  width: 270px;
  margin: 0 auto 10px;
}

.social-icon {
  font-size: 25px;
  margin-right: 10px;
}

form {
  margin-bottom: 10px;
}

.notification-welcome {
  width: 270px;
  margin: 10px auto 10px !important;
}